@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    @Html.ActionLink("個人資料", "UserInfo", "Customer", null, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("我的家人", "myFamily", "Customer", null, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("帳號管理", "Account", "Customer", null, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("我的收藏", "myPocketList", "Customer", null, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("我的課程", "myOrderList", "Customer", null, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("我的折價券", "myCoupon", "Customer", null, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("我的紅利金", "myPoint", "Customer", null, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("測試彈跳視窗", "TestModal", "Customer", null, new { @class = "btn btn-primary" })
</p>