@model FunShare_Admin.Models.TProduct

@{
    ViewData["Title"] = "Edit";
}

<h1>編輯課程</h1>

<h3>課程資訊</h3>
<form asp-controller="SuperProduct" asp-action="Edit" id="ProductForm" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @*  <div class="form-group">
    <label asp-for="ProductId" class="control-label"></label>
    <input asp-for="ProductId" class="form-control" />
    <span asp-validation-for="ProductId" class="text-danger"></span>
    </div> *@
    <input type="hidden" name="ProductID" value="@Model.ProductId" />
    <div class="row g-3">
        <div class="col-md-4">

            <div class="form-group col">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="AgeId" class="control-label"></label>
                <select asp-for="AgeId" class="form-control" asp-items="ViewBag.AgeId"></select>
                <span asp-validation-for="AgeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" name="photo" type="file" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
                <input asp-for="ImageId" class="form-control" hidden />
                <img src="~/img/product/@Model.ImageList.ImagePath" style="width:300px">
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group col">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            @* <div class="form-group col">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div> *@
            <div class="form-group col">
                <label asp-for="ReleasedTime" class="control-label"></label>
                <input asp-for="ReleasedTime" class="form-control" />
                <span asp-validation-for="ReleasedTime" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Times" class="control-label"></label>
                <input asp-for="Times" class="form-control" />
                <span asp-validation-for="Times" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="IntervalId" class="control-label"></label>
                <select asp-for="IntervalId" class="form-control" asp-items="ViewBag.IntervalId"></select>
                <span asp-validation-for="IntervalId" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control"  asp-items="ViewBag.StatusId1"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Commision" class="control-label"></label>
                <input asp-for="Commision" class="form-control" />
                <span asp-validation-for="Commision" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsClass" /> @Html.DisplayNameFor(model => model.IsClass)
                </label>
            </div>
            <div class="form-group col">
                <label asp-for="ProductIntro" class="control-label"></label>
                <textarea asp-for="ProductIntro" class="form-control"></textarea>
                <span asp-validation-for="ProductIntro" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Note" class="control-label"></label>
                <textarea asp-for="Note" class="form-control"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Features" class="control-label"></label>
                <textarea asp-for="Features" class="form-control"></textarea>
                <span asp-validation-for="Features" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<h3>課程詳細資訊</h3>

@* <button type="button" class="btn btn-default btn-sm" id="btnPlus">
        <img src="~/img/plus.svg" />
    </button>
    <button type="button" class="btn btn-default btn-sm" id="btnMinus">
        <img src="~/img/circle-minus.svg" />
    </button> *@

<ol id="productDetailList">

    <div class="row">
        <div class="form-floating col-md-2">
            @Html.DisplayNameFor(model => model.Dealine)
        </div>
        <div class="form-floating col-md-2">
            @Html.DisplayNameFor(model => model.BeginTime)
        </div>
        <div class="form-floating col-md-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </div>
        <div class="form-floating col-md-1">
            @Html.DisplayNameFor(model => model.DistrictId)
        </div>
        <div class="form-floating col-md-1">
            @Html.DisplayNameFor(model => model.Stock)
        </div>
        <div class="form-floating col-md-1">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </div>

        <div class="form-floating col-md-1">
            @Html.DisplayNameFor(model => model.ClassId)
        </div>
        <div class="form-floating col-md-1">
            @Html.DisplayNameFor(model => model.Address)
        </div>
    </div>

    @foreach (var item in Model.ProductDetail)
    {
        <li>
            <div class="row">
                <input type="hidden" name="ProductDetailId" value="@Model.ProductDetailId" />
                <input type="hidden" name="ProductID" value="@Model.ProductId" />
                <div class="form-floating col-md-2">
                    @Html.DisplayFor(modelItem => item.Dealine)
                    @*   @Html.EditorFor(modelItem => item.Dealine, new{@class="form-floating col-md-2"}) *@

                </div>
                <div class="form-floating col-md-2">
                    @Html.DisplayFor(modelItem => item.BeginTime)
                    @*   @Html.EditorFor(modelItem => item.BeginTime, new{@class="form-floating col-md-2"}) *@
                </div>
                <div class="form-floating col-md-2">
                    @Html.DisplayFor(modelItem => item.EndTime)
                    @*   @Html.EditorFor(modelItem => item.EndTime, new{@class="form-floating col-md-2"}) *@
                </div>
                <div class="form-floating col-md-1">
                    @Html.DisplayFor(modelItem => item.DistrictId)
                    @* <input asp-for="District.DistrictName" class="form-floating col-md-1" /> *@
                    @*  @Html.EditorFor(modelItem => item.District.DistrictName, new{@class="form-floating col-md-1"}) *@
                </div>
                <div class="form-floating col-md-1">
                    @Html.DisplayFor(modelItem => item.Stock)
                    @* <input asp-for="Stock" class="form-floating col-md-1" /> *@
                    @*  @Html.EditorFor(modelItem => item.Stock, new{@class="form-floating col-md-1"}) *@
                </div>

                <div class="form-floating col-md-1">
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                    @* <input asp-for="UnitPrice" class="form-floating col-md-1" /> *@
                    @*  @Html.EditorFor(modelItem => item.UnitPrice, new{@class="form-floating col-md-1"}) *@
                </div>

                <div class="form-floating col-md-1">
                    @Html.DisplayFor(modelItem => item.ClassId)
                    @* @Html.EditorFor(modelItem => item.ClassId, new{@class="form-floating col-md-1"}) *@
                </div>
                <div class="form-floating col-md-1">
                    @Html.DisplayFor(modelItem => item.Address)
                    @*  @Html.EditorFor(modelItem => item.Address, new{@class="form-floating col-md-2"}) *@
                </div>
                <div class="form-floating col-md-1">
                    @Html.ActionLink("編輯", "edit","ManagerProductDetail", new { id=item.ProductDetailId })
                </div>
            </div>
        </li>
    }
</ol>

@*   <h3>圖片</h3>
    <div class="form-group">
        <label asp-for="ImageId" class="control-label"></label>
        <input asp-for="ImageId" class="form-control" />
        <span asp-validation-for="ImageId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductId" class="control-label"></label>
        <input asp-for="ProductId" class="form-control" />
        <span asp-validation-for="ProductId" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label asp-for="IsMain" class="form-check-label"></label>
        <input asp-for="IsMain" class="form-check-input" />
        <span asp-validation-for="IsMain" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImagePath" class="control-label"></label>
        <input asp-for="ImagePath" class="form-control" id="photo" type="file" />
        <span asp-validation-for="ImagePath" class="text-danger"></span>
        <img src="~/img/product/@Model.ImageList.ImagePath" style="width:150px">
    </div>
    <div class="form-group">
        <label asp-for="Images" class="control-label"></label>
        <input asp-for="Images" class="form-control" id="Sphoto" type="Sfile" />
        <span asp-validation-for="Images" class="text-danger"></span>
        <br/>
        @if (Model.ImageList.Images!= null)
        {
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Images)" style="width:150px" />
        }
        <br />
    </div>
    <div class="form-group">
        <input type="submit" value="儲存" class="btn btn-primary" />
    </div>
</form>
 *@
<div>
    <a asp-controller="ManagerProduct" asp-action="List">Back to List</a>
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#btnPlus").click(function () {

                $("ol").append(`<br/>  <li>
                        <div class="row">
                        <div class="form-floating col-md-2">
                             <input asp-for="Dealine" type="date" class="form-control" placeholder="01/01/2023" />

                              </div>
                                                                                            <div class="form-floating  col-md-2">
                                                                                                <input asp-for="BeginTime" class="form-control" placeholder="01/01/2023" />
                                                                                                <label asp-for="BeginTime"></label>
                                                                                            </div>
                                                                                            <div class="form-floating col-md-2">
                                                                                                <input asp-for="EndTime" class="form-control" placeholder="01/01/2023" />
                                                                                                <label asp-for="EndTime"></label>
                                                                                            </div>
                                                                                                    <div class="form-floating col-md-1">
                                                                                                        <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId2" placeholder="大安區"></select>
                                                                                                        <label asp-for="StatusId"></label>
                                                                                                    </div>
                                                                                            <div class="form-floating col-md-1">
                                                                                                <input asp-for="UnitPrice" class="form-control" placeholder="2000" />
                                                                                                <label asp-for="UnitPrice" ></label>

                                                                                            </div>
                                                                                            <div class="form-floating col-md-1">
                                                                                                <input asp-for="ClassId" class="form-control" placeholder="R301" />
                                                                                                <label asp-for="ClassId" ></label>

                                                                                            </div>
                                                                                            <div class="form-floating col-md-3">
                                                                                                <input asp-for="Address" class="form-control" placeholder="TPE" />
                                                                                                <label asp-for="Address" ></label>

                                                                                            </div>
                                                                                        </div>
                                                                                    </form>
                                                                                </li> `
                );
            });
            $("#btnMinus").click(function () {
                $('#productDetailList').children('li').last().remove();
            });
        });
    </script>
    }

<style>
    .dragndrop {
        width: 100%;
        height: 400px;
        background-color: grey;
        opacity: 0.1;
        text-align: center;
    }

        .dragndrop:hover {
            background-color: darkgrey;
            opacity: 0.3;
        }
</style>

